In [2]:
!pip install scikit-learn

Requirement already satisfied: scikit-learn in e:\users\mehul\anaconda3\lib\site-packages (1.2.2)
Requirement already satisfied: numpy>=1.17.3 in e:\users\mehul\anaconda3\lib\site-packages (from scikit-learn) (1.26.4)
Requirement already satisfied: scipy>=1.3.2 in e:\users\mehul\anaconda3\lib\site-packages (from scikit-learn) (1.11.4)
Requirement already satisfied: joblib>=1.1.1 in e:\users\mehul\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in e:\users\mehul\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)

In [3]:
import sklearn

In [5]:
#import packages
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.naive_bayes import MultinomialNB

In [6]:
#import data
spam_df = pd.read_csv("spam.csv")

In [9]:
#introspect data
spam_df

     Category                                            Message
0         ham  Go until jurong point, crazy.. Available only ...
1         ham                      Ok lar... Joking wif u oni...
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...
3         ham  U dun say so early hor... U c already then say...
4         ham  Nah I don't think he goes to usf, he lives aro...
...       ...                                                ...
5567     spam  This is the 2nd time we have tried 2 contact u...
5568      ham               Will ü b going to esplanade fr home?
5569      ham  Pity, * was in mood for that. So...any other s...
5570      ham  The guy did some bitching but I acted like i'd...
5571      ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [11]:
#inspect data
spam_df.groupby('Category').describe()

         Message                                                            \
           count unique                                                top
Category
ham         4825   4516                             Sorry, I'll call later
spam         747    641  Please call our customer service representativ...


         freq
Category
ham        30
spam        4

In [12]:
#turn spam/ham into numerical data, creating a new column for "spam"
spam_df['spam'] = spam_df['Category'].apply(lambda x: 1 if x == 'spam' else 0)

In [14]:
spam_df

     Category                                            Message  spam
0         ham  Go until jurong point, crazy.. Available only ...     0
1         ham                      Ok lar... Joking wif u oni...     0
2        spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3         ham  U dun say so early hor... U c already then say...     0
4         ham  Nah I don't think he goes to usf, he lives aro...     0
...       ...                                                ...   ...
5567     spam  This is the 2nd time we have tried 2 contact u...     1
5568      ham               Will ü b going to esplanade fr home?     0
5569      ham  Pity, * was in mood for that. So...any other s...     0
5570      ham  The guy did some bitching but I acted like i'd...     0
5571      ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [17]:
# create train/test split
x_train, x_test, y_train, y_test = train_test_split(spam_df.Message, spam_df.spam, test_size = 0.25)

In [18]:
x_train

3628    Still chance there. If you search hard you wil...
3564    Auction round 4. The highest bid is now £54. N...
2737            Really? I crashed out cuddled on my sofa.
3866    THATS ALRITE GIRL, U KNOW GAIL IS NEVA WRONG!...
377     You could have seen me..i did't recognise you ...
                              ...
3392                   I'm in a meeting, call me later at
5289    Hey! Congrats 2u2. id luv 2 but ive had 2 go h...
4991    Phony £350 award - Todays Voda numbers ending ...
1289                             Happy new year to u too!
1024                             May i call You later Pls
Name: Message, Length: 4179, dtype: object

In [19]:
x_train.describe()

count                       4179
unique                      3937
top       Sorry, I'll call later
freq                          15
Name: Message, dtype: object

In [ ]:
#find word count and store data as a matrix
cv = CountVectorizer